<!-- List of and search for all recipes -->
{% extends "base.html" %}
{% block title %}Recipes{% endblock %}

{% block content %}
<section class="hero align-items-center justify-content-center d-flex flex-column border-5 border-bottom border-white"
    style="background-image: url('https://images.unsplash.com/photo-1515665966984-831e4cd20f96?q=80&w=2680&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover; background-position: center; background-repeat: no-repeat;
        height: 300px; width: 100%; position: relative;
        display: flex; justify-content: center; align-items: center;
        color: white; text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        background-color: rgba(0, 0, 0, 0.25); 
        background-blend-mode: darken;
        margin-left: 0; /* This ensures it doesn’t overlap with the sidebar */
        ">
    <!-- Hero Text (with shadow for readability) -->
    <div class="mt-auto mb-auto col-10" style="padding-top: 30px;">
        <h1 class="display-1 text-white mb-4 text-center" style="text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);">
            Recipes
        </h1>
        <!-- Sticky Search Bar -->
        <div id="search-bar" class=" col-md-6 col-sm-10 d-flex flex-column justify-content-center bg-white rounded shadow-sm mt-4 mx-auto">
            <input 
                type="text" 
                class="form-control"
                name="search" 
                placeholder="Search recipe name, type, or source" 
                value="{{ text or '' }}"
                hx-get="{{ url_for('core.search') }}"
                hx-trigger="keyup delay:500ms changed"
                hx-target="#recipes-list"
                hx-swap="innerHTML"
                hx-indicator="#loading-indicator">
        </div>
    </div>
</section>
<!-- List of and search for all recipes -->

<!-- Scrollable Recipe List Container -->
<div class="container py-3 ps-4" style="height: calc(100vh - 300px); overflow-y: auto;">
    <div class="row">
        <div class="col-12 col-md-auto">
            <!-- Scrollable div with a maximum height -->
            <div class="" style="padding-right: 15px; ">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center" id="recipes-list">
                    <!-- HTMX will return blank search results on initial load, and then swap with filtered recipes on search -->
                    <div hx-get="{{ url_for('core.search') }}" hx-target="#recipes-list" hx-swap="innerHTML" hx-trigger="load"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}