<form hx-post="{{ url_for('core.update_field', recipe_id=recipe_id, field=field) }}" 
      hx-target="#{{ field | lower }}-field" 
      hx-swap="outerHTML"
      id="{{ field | lower }}-field">
      
    <input type="text" name="value" value="{{ current_value }}" class="form-control mb-2" autofocus>
    
    <div class="d-flex justify-content-between">
      <!-- Update Button with Bootstrap Success Color -->
      <button type="submit" class="btn btn-success me-2">Update</button>
      
      <!-- Cancel Button to revert back to display mode -->
      <button type="button" class="btn btn-primary"
              hx-get="{{ url_for('core.display_field', recipe_id=recipe_id, field=field) }}" 
              hx-target="#{{ field | lower }}-field" 
              hx-swap="outerHTML"
              hx-indicator="#spinner">
          Cancel
      </button>
      <div class=" htmx-indicator" id="spinner">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
</form>